/*Estilos header*/
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

/* Estilos personalizados para el header*/
img{
    width: 100%;
    height: auto;
}
/*Header*/
fondo-header{
    background-color: white;
}

.estructura-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    grid-template-areas: 
        "h1 h2 h3";
}

.estructura-header .primeraDivision{
    grid-area: h1;
}

.estructura-header .segundaDivision{
    grid-area: h2;
}

.estructura-header .terceraDivision{
    grid-area: h3;
}

.container-imagen{
    width: 40%;
}

.container-Registro1 .container-Registro2{
    display: flex;
    justify-content: center;
    background-color: #BF1924;
    color: white;
    margin-top: 70px;
}

.container-Iconos1 .container-Iconos2{
    display: flex;
    justify-content: center;
    background-color: #BF1924;
}

.container-Iconos1 .container-Iconos2 .iconList{
    float: left;
    list-style: none;
}

/*Body*/
/*Body*/
.fondo{
    background-color: white;
}

.container-datos{
    width: 100%;
}

.fondo-datos{
    background-color: #D9D9D9;
}

.card{
    padding: 0 300px;
}

.btn-confirmar{
    background-color: #43A829;
    color: black;
}

/*Estilos para el cuerpo de la pagina*/
.contenedorPrincipal{
    background-color: #b6b6b6;
}

.contenedorPrincipal .infoIzquierda .containerInfoGeneral{
    background-color: #6d1319;
}

.contenedorPrincipal .infoIzquierda .containerInfoGeneral > #tituloNosotros {
    color:white;
    font-weight: bold;
    font-size: 40px;
    padding-left: 5px;
    padding-top: 10px;
}

.contenedorPrincipal .infoIzquierda .containerInfoGeneral > .cuerpoNosotros {
    color: white;
    padding-left: 5px;
}

.contenedorPrincipal .infoIzquierda .containerInfoGeneral > .subtituloNosotros{
    color: white;
    padding-left: 5px;
}

.contenedorPrincipal .infoIzquierda .containerInfoGeneral > .listaNosotros .elementoNosotros{
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}
