<section id="ventada-mensajeria">
    <div id="historial-mensajes" >
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
        <hr>
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
        <hr>
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
        <hr>
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
        <hr>
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
        <hr>
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
        <hr>
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
        <hr>
        <div id="historial-mensaje">
            <div id="item-mensaje">
                <div id="nombre-servicio">Servicio <br> 314</div>
            <div>
                <span id="info-envio" >De Trabajador encargado a Todos</span>
                <p id="mensaje">Listo!, llegando</p>
            </div>
            </div>
        </div>
    </div>
    <div id="sala-mensajes"> 
        <div id="nombre-servicio">Servicio <br> 314</div>

       <form style="" (submit)="sendMessage()">
        <div class="mensajes">
            
            <p [ngClass]= "{'sms-enviado' : message.messageType===1,'sms-recibido' : message.messageType===2}"  *ngFor="let message of chat.chats">{{message.text}}</p>
        
        </div>
        <input [(ngModel)]="textSms" [ngModelOptions]="{standalone:true}" placeholder="Escribir un mensaje..." type="text" id="entrada-mensaje">
       </form>
    </div>

</section>

<script>
    console.log('ws://'
        + window.location.host
        + '/ws/socket-server/')

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/socket-server/' 
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log('data: ', data)
    };

</script>