<app-header></app-header>
<section id="ventada-mensajeria">
    <div id="historial-mensajes">
        <div *ngFor="let message of mensajeriaService.chats" id="historial-mensaje">

                <div (click)="clickOnChat(message)" id="item-mensaje">
                    <div id="nombre-servicio">Servicio <br>{{message.canal__servicio}}</div>
                    <div >
                        
                        <span  class="info-envio">{{message.nombre_perfil}} 
                            <span class="info-envio" *ngIf='message.usuario__rol==1'> - Administrador</span>
                            <span class="info-envio" *ngIf='message.usuario__rol==1'>(Yo)</span>
                            <span class="info-envio" *ngIf='message.usuario__rol==2'> - Cliente</span>
                            <span class="info-envio" *ngIf='message.usuario__rol==3'> - Empleado</span>

                        </span>
                        


                        <p id="mensaje">{{message.texto.split(" ").splice(0, 8).join(" ")}} </p>
                    </div>
                </div>
                <hr>
        </div>

    </div>
    <div id="sala-mensajes">
        <div  class="mensajes">
            <div class="position-fixed">
                
                <div id="nombre-servicio">
                    
                    <div> <div>Servicio </div>  {{mensajeriaService.servicio_actual}} : {{mensajeriaService.nombre_usuario_receptor}}</div>
                    
                </div>

            </div>
            <div></div>

            <!-- class="sms-general" [ngClass]="{'sms-recibido' : message.correo_usuario==mensajeriaService.usuario_receptor,'sms-enviado' : message.correo_usuario==mensajeriaService.usuario_logeado}">-->
            <br><br><br>
            <p *ngFor="let message of mensajeriaService.contactosMensajes" 
             class="sms-general" [ngClass]="{'sms-recibido' : message.usuario__correo==mensajeriaService.usuario_receptor,'sms-enviado' : message.usuario__correo==mensajeriaService.usuario_logeado}">
                {{message.texto}}
                <span class="tiempo " text-right><br>{{ message.tiempo | date:'short' }}</span>

            </p>
        </div>
        <form (submit)="sendMessage()">
            <input [(ngModel)]="textSms" [ngModelOptions]="{standalone:true}" placeholder="Escribir un mensaje..."
                type="text" id="entrada-mensaje">
        </form>
    </div>

   
</section>
