<app-header></app-header>

<div class="wrapper">
    <div class="bottom_nav" >
      <div id="navbarResponsive2">
      <ul>
        <li><a href="#">En Curso</a></li>
        <li><a href="#">Por asignar</a></li>
        <li><a href="#">Tipo</a></li>
        
      </ul>
    </div>
    </div>
</div>
<div class="servicios">

  <div *ngFor="let servicio of lista_Servicio" class="{{servicio.nombreServicio}}">
    <div class="detalles">
      <h1>{{servicio.nombreServicio.replaceAll('_',' ')}}</h1>
      <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-19.png" alt="">
      <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png"
       alt="" (click)="enviar_servicio_seleccionado(servicio.nombreServicio)">

    </div>
    <img src="../../assets/Iconos/app sepro vectores-12.png" alt="">
  </div>

  <!--<div class="guardia">
    <div class="detalles">
      <h1>GUARDIA DE SEGURIDAD</h1>
      <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-20.png" alt="">
      <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="">

    </div>
    <img src="../../assets/Iconos/app sepro vectores-15.png" alt="">
  </div>

  <div class="chofer">
    <div class="detalles">
      <h1>CHOFER SEGURO</h1>
      <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-17.png" alt="">
      <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="">

    </div>
    <img src="../../assets/Iconos/app sepro vectores-12.png" alt="">

  </div>

  <div class="transporte">
    <div class="detalles">
      <h1>TRANSPORTE SEGURO</h1>
      <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-18.png" alt="">
      <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="">

    </div>
    <img src="../../assets/Iconos/app sepro vectores-15.png" alt="">

  </div>-->
  

</div>

<div class="area_Boton">
  <button type="button" class="btn_Crear_Servicio btn btn-primary" routerLink="/servicioCrear">Crear Servicio</button>
</div>
