<app-header></app-header>

<div class="wrapper">
    <div class="bottom_nav" >
      <div id="navbarResponsive2">
      <ul>
        <li><a  routerLinkActive="active" routerLink="/serviciosEnCurso">En Curso</a></li>
        <li><a routerLinkActive="active" routerLink="/serviciosPorAsignar">Por asignar</a></li>
        <li><a routerLinkActive="active" routerLink="/serviciosTipo" href="#">Tipo</a></li>
        
      </ul>
    </div>
    </div>
</div>
<div class="servicios">

  <div *ngFor="let servicio of lista_Servicio" class="{{servicio.nombreServicio}}">
    <div class="detalles">
      <h1>{{servicio.nombreServicio.replaceAll('_',' ')}}</h1>
      <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-19.png" alt="">
      <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png"
       alt="" (click)="enviar_servicio_seleccionado(servicio.nombreServicio)">

    </div>
    <img src="../../assets/Iconos/app sepro vectores-12.png" alt="">
  </div>

  
  

</div>

<div class="area_Boton">
  <button type="button" class="btn_Crear_Servicio btn btn-primary" routerLink="/servicioCrear">Crear Servicio</button>
</div>

