<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="containertable">
            <div class="rowtable">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr class="tituloInfo">
                      <th scope="col">Marca</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Color</th>
                      <th scope="col">No. de serie</th>
                      <th scope="col">Calibre</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="infoInv">
                      <td >Glock</td>
                      <td>CamiG7</td>
                      <td>DEFE86</td>
                      <td>Negro</td>
                      <td>20253619</td>
                      <td>9x19mm</td>
                      <td>
                        <button type="button" class="btn btn-primary btnTable"><i class="far fa-eye"></i></button>
                      <button type="button" class="btn btn-danger btnTable"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                    <tr class="infoInv">
                        <td >Glock</td>
                        <td>CamiG7</td>
                        <td>DEFE86</td>
                        <td>Negro</td>
                        <td>20253619</td>
                        <td>9x19mm</td>
                        <td>
                        <button type="button" class="btn btn-primary btnTable"><i class="far fa-eye"></i></button>
                      <button type="button" class="btn btn-danger btnTable"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                    <tr class="infoInv">
                        <td >Glock</td>
                        <td>CamiG7</td>
                        <td>DEFE86</td>
                        <td>Negro</td>
                        <td>20253619</td>
                        <td>9x19mm</td>
                        <td>
                        <button type="button" class="btn btn-primary btnTable"><i class="far fa-eye"></i></button>
                      <button type="button" class="btn btn-danger btnTable"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <!-- Portfolio Grid Items-->
        <div class="abajo-left">
            <button type="button" class="btn btn-success btnagg">Agregar Armamento</button>
        </div>
        
    </div>
</section>
  
